.menu-page.sushi-menu{
  background-color: #E4DACE;
  margin:0 7rem;
}

.sushi-menu {
  padding: 2rem;
}

/* Hero Image */
.hero-image {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit:contain;
}

.hero-text {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight:200;
  color: #464444;
}


.sushi-menu .error {
  color: red;
  text-align: center;
  padding: 1rem;
  background: #fee;
  border-radius: 4px;
  margin-bottom: 1rem;
}


.sushi-menu .category-section {
  margin-bottom: 3rem;
}

.sushi-menu .category-title {
  /* font-size: 1.8rem;
  color: #8B4513;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem; */
  border-bottom: 2px solid #2d2d2d;
}

.sushi-menu .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 3rem;
  margin: 3rem 5rem;
  padding-inline: 0.5rem;
}

/* Edit styling: Helene */
/* edit: Tim styling */