@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

:root {
  --font: 'Radley', serif;
  --color-brown: #59390B;
  --color-yellow: #FBC206;
}

.page-body {
  background-color: #E4DACE;
  min-height: 100vh;
  width: 100%;
}

.landing-page {
  display: grid;
  gap: 5rem;
  grid-auto-rows: minmax(100vh, auto);
}

.landing-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-container__wrapper {
  width: 100%;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.landing-container__first {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-container__title-big-brown {
  font-family: var(--font);
  color: var(--color-brown);
  font-size: 2.5rem;
  text-align: center;
  background-color: rgba(228, 218, 206, 0.6);
  padding: 3rem;
  width: 100%;
}

.landing-container__second-down {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 2rem;
}

.landing-container__image-second {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.landing-container__title {
  font-family: var(--font);
  color: var(--color-yellow);
  font-size: 2.5rem;
  width: 60%;
  text-align: right;
}

.landing-container__text-brown {
  font-family: var(--font);
  color: var(--color-brown);
  font-size: 2rem;
  width: 40%;
  margin-left: 2rem;
}

.landing-container__third {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.landing-container__image-third {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.landing-container__third-right {
  width: 40%;
  aspect-ratio: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  background-color: #59390B;
  border-radius: 100%;
  padding: 3rem;
}

.landing-container__title-fat-yellow {
  font-family: var(--font);
  color: var(--color-yellow);
  font-size: 2.5rem;
  text-align: center;
}

.landing-container__text-light-yellow {
  font-family: var(--font);
  color: var(--color-yellow);
  font-size: 1.5rem;
  text-align: center;
}

.landing-container__fourth {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.landing-container__fourth-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-container__fourth-right {
  width: 45%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.landing-container__title-brown {
  font-family: var(--font);
  color: var(--color-brown);
  font-size: 2.5rem;
}

.landing-container__image-qr {
  width: 200px;
  height: 200px;
  margin: 1rem 0;
}

.landing-container__image-fourth {
  width: 90%;
}

/* ----------- MEDIA QUERIES ----------- */

/* Tablet */
@media (max-width: 1024px) {
  .landing-page {
    grid-auto-rows: auto;
    gap: 1rem;
  }

  .landing-container__wrapper {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .landing-container__first {
    width: auto;
    height: 30vh;
  }

  .landing-container__second {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  .landing-container__second-down {
    flex-direction: column;
    text-align: center;
  }

  .landing-container__image-second {
    width: 80%;
    margin: 0;
  }

  .landing-container__title,
  .landing-container__text-brown {
    width: 90%;
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
  }

  .landing-container__text-brown {
    font-size: 2rem;
  }

  .landing-container__third {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .landing-container__third-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .landing-container__third-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70%;
    height: auto;
    padding: 1rem;
  }

  .landing-container__image-third {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .landing-container__fourth {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .landing-container__fourth-left, .landing-container__fourth-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-container__fourth-right {
    width: 80%;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .landing-container__title-big-brown {
    font-size: 2rem;
    padding: 2rem;
  }

  .landing-container__title {
    font-size: 2rem;
  }

  .landing-container__text-brown {
    font-size: 1.4rem;
  }

  .landing-container__title-fat-yellow {
    font-size: 2rem;
  }

  .landing-container__text-light-yellow {
    font-size: 1.2rem;
  }

  .landing-container__second-down {
    gap: 1rem;
  }
}


/* Author: Felicia */